<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-success">
       <div class="container">
        <a class="navbar-brand" href=""><img src="/imagens/arte.webp" alt=""></a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="menu">

            <ul class="navbar-nav text-center">
                <li class="nav-item"><a class="nav-link" href="">Home</a></li>
                <li class="nav-item"><a class="nav-link dropdown-toggle" href="">Sobre Nós</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toogle="dropdown" data-bs-target="#menus" href="">Produtos</a>
                    <ul class="dropdown-menu dropdown-menu-dark" id="menus">
                        <li class="dropdown-item"><a href="">TESte</a></li>
                        <li class="dropdown-item"><a href="">TESte</a></li>
                        <li class="dropdown-item"><a href="">TESte</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="">Locais</a></li>
                <li class="nav-item"><a class="nav-link" href="">Revendedores</a></li>
                <li class="nav-item"><a class="nav-link" href="">Contato</a></li>
                <li class="nav-item text-white">
                    <a href="" class="nav-link fab fa-facebook fs-4"></a>
                    <a href="" class="nav-link fab fa-instagram fs-4"></a>
                    <a href="" class="nav-link fas fa-user-alt fs-4"></a>
                    <a href="" class="nav-link fab fa-whatsapp fs-4"></a>
                </li>
            </ul>
        </div>
       </div>
    </nav>
</header>